# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
.venv/
env/
.env
backend/.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/out/
frontend/.next/

# Project Specific
temp/
backend/data/
temp/
CONFIDENTIAL/
data/
coll/

.antigravitycli